flows (2).json
[{"id":"df086f7e.0e22a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3b703a1.c24ee","type":"function","z":"df086f7e.0e22a","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"O5t2AgilJfgqEdbNGQ-vHfRixHM6eg0saLgPcsSdJX3L\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["8988a88d.4d2858"]]},{"id":"8988a88d.4d2858","type":"http request","z":"df086f7e.0e22a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":579,"y":388.9999952316284,"wires":[["e08e223c.017fe"]]},{"id":"7c9ba6ea.735258","type":"debug","z":"df086f7e.0e22a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1018.0000114440918,"y":130.99999713897705,"wires":[]},{"id":"e08e223c.017fe","type":"function","z":"df086f7e.0e22a","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar sod = global.get('sod')\nvar pot = global.get('pot')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"89fe2f81-527a-451e-8a98-7cb86762a0b3\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"age\", \"bp\", \"sg\", \"al\", \"su\", \"rbc\", \"pc\", \"pcc\", \"ba\", \"bgr\", \"bu\", \"sc\", \"sod\", \"pot\", \"hemo\", \"pcv\", \"wc\", \"rc\", \"htn\", \"dm\", \"cad\", \"appet\", \"pe\", \"ane\"], \"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":776.0000076293945,"y":351.9999990463257,"wires":[["d645c694.c9d318"]]},{"id":"d645c694.c9d318","type":"http request","z":"df086f7e.0e22a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fc0d4386-f43e-430e-9529-fb86d1434c73/predictions","tls":"","persist":false,"proxy":"","authType":"","x":869.5000076293945,"y":295.9999990463257,"wires":[["58ccb69f.d36578","7c9ba6ea.735258"]]},{"id":"fd36b397.fd622","type":"ui_form","z":"df086f7e.0e22a","name":"","label":"","group":"1f58a4b9.67a15b","order":1,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":false,"rows":null},{"label":"age","value":"age","type":"number","required":false,"rows":null},{"label":"bp","value":"bp","type":"number","required":false,"rows":null},{"label":"sg","value":"sg","type":"number","required":false,"rows":null},{"label":"al","value":"al","type":"number","required":false,"rows":null},{"label":"su","value":"su","type":"number","required":false,"rows":null},{"label":"rbc","value":"rbc","type":"text","required":false,"rows":null},{"label":"pc","value":"pc","type":"text","required":false,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":false,"rows":null},{"label":"ba","value":"ba","type":"text","required":false,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":false,"rows":null},{"label":"bu","value":"bu","type":"number","required":false,"rows":null},{"label":"sc","value":"sc","type":"number","required":false,"rows":null},{"label":"sod","value":"sod","type":"number","required":false,"rows":null},{"label":"pot","value":"pot","type":"number","required":false,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":false,"rows":null},{"label":"pcv","value":"pcv","type":"text","required":false,"rows":null},{"label":"wc","value":"wc","type":"text","required":false,"rows":null},{"label":"rc","value":"rc","type":"text","required":false,"rows":null},{"label":"htn","value":"htn","type":"text","required":false,"rows":null},{"label":"dm","value":"dm","type":"text","required":false,"rows":null},{"label":"cad","value":"cad","type":"text","required":false,"rows":null},{"label":"appet","value":"appet","type":"text","required":false,"rows":null},{"label":"pe","value":"pe","type":"text","required":false,"rows":null},{"label":"ane","value":"ane","type":"text","required":false,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":171,"y":442.9999952316284,"wires":[["b3b703a1.c24ee"]]},{"id":"ea6c1782.5481e8","type":"ui_text","z":"df086f7e.0e22a","group":"1f58a4b9.67a15b","order":2,"width":0,"height":0,"name":"","label":"Classification","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":400,"wires":[]},{"id":"58ccb69f.d36578","type":"function","z":"df086f7e.0e22a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":729.6000366210938,"y":191.60000133514404,"wires":[["ea6c1782.5481e8"]]},{"id":"1f58a4b9.67a15b","type":"ui_group","z":"","name":"Internship","tab":"7c549471.cd1dfc","order":1,"disp":true,"width":"6","collapse":false},{"id":"7c549471.cd1dfc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]